wpfData_Step_4-master/wpfData/Connected Services/ServiceReferenceSnack/ServiceSnack.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceSnack" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceSnack/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceSnack/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceSnack/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSnack_GetAllCites_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCites" />
  </wsdl:message>
  <wsdl:message name="IServiceSnack_GetAllCites_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCitesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSnack_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IServiceSnack_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSnack_GetAllSnack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSnack" />
  </wsdl:message>
  <wsdl:message name="IServiceSnack_GetAllSnack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSnackResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSnack_GetSnackByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSnackByUser" />
  </wsdl:message>
  <wsdl:message name="IServiceSnack_GetSnackByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSnackByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSnack_GetUserBysnack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserBysnack" />
  </wsdl:message>
  <wsdl:message name="IServiceSnack_GetUserBysnack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserBysnackResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSnack_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceSnack_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSnack">
    <wsdl:operation name="GetAllCites">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnack/GetAllCites" message="tns:IServiceSnack_GetAllCites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnack/GetAllCitesResponse" message="tns:IServiceSnack_GetAllCites_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnack/GetAllUsers" message="tns:IServiceSnack_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnack/GetAllUsersResponse" message="tns:IServiceSnack_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSnack">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnack/GetAllSnack" message="tns:IServiceSnack_GetAllSnack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnack/GetAllSnackResponse" message="tns:IServiceSnack_GetAllSnack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSnackByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnack/GetSnackByUser" message="tns:IServiceSnack_GetSnackByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnack/GetSnackByUserResponse" message="tns:IServiceSnack_GetSnackByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserBysnack">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnack/GetUserBysnack" message="tns:IServiceSnack_GetUserBysnack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnack/GetUserBysnackResponse" message="tns:IServiceSnack_GetUserBysnack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnack/Login" message="tns:IServiceSnack_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnack/LoginResponse" message="tns:IServiceSnack_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSnack" type="tns:IServiceSnack">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCites">
      <soap:operation soapAction="http://tempuri.org/IServiceSnack/GetAllCites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IServiceSnack/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSnack">
      <soap:operation soapAction="http://tempuri.org/IServiceSnack/GetAllSnack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSnackByUser">
      <soap:operation soapAction="http://tempuri.org/IServiceSnack/GetSnackByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBysnack">
      <soap:operation soapAction="http://tempuri.org/IServiceSnack/GetUserBysnack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceSnack/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSnack">
    <wsdl:port name="BasicHttpBinding_IServiceSnack" binding="tns:BasicHttpBinding_IServiceSnack">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceSnack/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>